$color-primary: #FF5A5F;       // Vermelho Carmim do Logo
$color-primary-hover: darken($color-primary, 7%); // Escurece automaticamente no hover
$color-secondary: #C5D0E6;     // Azul Claro / Prata
$color-dark: #1E2022;          // Grafite Escuro
$color-footer-bg: #121314;      // Fundo do Rodapé
$color-light: #F8F9FA;         // Fundo Claro
$color-white: #FFFFFF;

$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$transition-base: all 0.2s ease;